/* mobile version */
@media(max-width: 600px){
    .section-container{
        width: 100%;
        overflow-x: hidden;
    }
    header{
        height: auto;
        flex-direction: column;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding: 6px 0px;
    }
    header img{
        margin-top: 0px;
        /* width: 300px;
        height: 300px; */
    }
    nav{
        position: relative;
        left: 0;
        margin-top: 0px;
        width: 100%;
        text-align: center;
    }
    nav a{
        display: block;
        padding: 10px;
        font-size: 15px;
    }
   
    nav button{
    width: 150px;
    padding: 0px;
   
    }
    nav button a:hover{
    height: fit-content;

    }
    .hero{
        width: 100%;
    }
    .hero::before{
        transform: translateX(150%);
        /* width: fit-content; */
        width: 100%;
        max-width: 700px;
        overflow: hidden;

    }
    .hero.show-bg::before{
        transform: translateX(0);
        width: 100%;
        max-width: 700px;
        /* height: 300px; */
    }
    .hero-content{
         position: relative;
        left: -10px;
        width: 100%;
        
    }
    .hero-content h1{
        font-size: 25px;
        
    }
    .hero-content::before{
         width: 70%;
         top: -380px;
         left: -60px;
         height: auto;

    }
    .hero-content p{
        font-size: 18px;
        margin-top: -40px;
    }
    .about-section{
        height: fit-content;
        padding: 5px;
    }
    .about-content{
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    .aboutText{
        flex-grow: 1;
        flex-basis: 200;
        width: 100%;
       
    }
    .about-image{
        width: 100%;
    }
    .counter-container{
        flex-wrap: wrap;
        height: fit-content;
        display: flex;
        padding: 0px 10px;
         /* margin-top: 40px; */

    }
    .content-box{
        width: 100%;
        margin-left: 30px;   
        height: fit-content;
    }
    .counter-box::before{
        height: 210px;
        top: 60px;
    }
    .counter-box h2{
        font-size: 70px;
        margin-top: 20px;
    }
    .counter-container{
        flex-wrap: wrap;
        height: fit-content;
        margin-top:-80px;

    }
    .footer-container{
        width: 100%;
        flex-wrap: wrap;
        /* gap: 20px; */
        display: flex;
        height: fit-content;
        flex-direction: column;
    }
    .footer-box {
        flex-grow: 1;
        flex-basis: 200;
        height: auto;
        width: 100%;
    }
    .contact-footer{
        position: relative;
        left: 0px;
}
    .icons{
        display: flex;
        flex-wrap: wrap;
    }
    .contact-section{
        padding: 40px;
    
    }
    .contact-box{
        flex-direction: column;
    }
    .text-icons{
        position: relative;
        left: 0px;
        width: 100%;
    }
    .text-icons a{
        flex-direction: row;
    }
    .radio-row{
        /* white-space: wrap; */
        flex-wrap: wrap;
    }
    .expertise-viewpoint{
        overflow: hidden;
        width: calc(1 * 300px + 40px);
    }
    .flip-card{
        width: 330px;
    }
    .template-box{
        flex-wrap: wrap;
        flex-direction: column;
    }
     .testimonials-wrapper{
        flex-wrap: wrap;
    }
    .testimonials-cards{
        width: 400px;
    }
    /* scroll */
    .scroll-btn{
        width: 0;
        height: 0;
    }
    .scroll-btn i{
        position: fixed;
        right: 0px;
        top: 380px;
        bottom: 0px;
    }
    /* get in quote */
    .package-wrapper{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .package-card{
        width: 350px;
        
    }
    .package-card a{
        position: relative;
        left: -20px;
        width: 100%;
    }
    .compare-box{
        width: 100px;
    }
    .compare-card{
        flex-wrap: wrap;
    }
    .list{
        margin-top: 30px;
       
    }
    .list p{
         height: 600px;
        width: 20px;
        font-size: 12px;
    }
    .list h3{
        text-align: start;
        font-size: 15px;
    }
    /* calculation */
    .plot-input input{
        width: 100%;
    }
    .navbar button{
        width: 300px;
        padding: 0px;
    }
     .projectImage img {
        width: 100%;
    }
    .project-card{
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
        height: fit-content;
    }
    /* map */
    .project-iframe{
         margin: 10px;
    }
    .project-iframe iframe{ 
        width: 100%;
        
    }   
}
/* tables */
@media (min-width: 601px) and (max-width: 900px) {
    .section-container{
        width: 100%;
        overflow-x: hidden;
    }
     header{
        height: auto;
        /* flex-direction: column; */
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 6px 0px;
    }
    header img{
        margin-top: 0px; 
        margin-left: -10px;  
    }
    nav{
        width: 400px;
        margin-top: -50px;
        position: fixed;
        left: 200px;
        top: 80px;
        padding: 0px;
        
    }
    nav a{
        font-size: 10px;
        padding: 5px 8px;
    }
    nav button{
         padding: 10px 0px;
    }
    .hero{
        margin-top: -110px;
    }
    .hero-content h1{
        font-size: 30px;
    }
    .hero-content p{
        font-size: 18px;
    }
    .hero-content{
        position: relative;
        left: -15px;
    }
     .hero-content::before{
        width: 600px;
     }
    .about-section{
        height: fit-content;
        padding: 5px;
    }
    .about-content{
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    .aboutText{
        flex-grow: 1;
        flex-basis: 200;
        width: 100%;
       
    }
    .about-image{
        width: 100%;
    }
    .counter-container{
        flex-wrap: wrap;
        height: fit-content;
        display: flex;
        padding: 0px 10px;
         /* margin-top: 40px; */

    }
    .counter-box{
        position: relative;
        flex-grow: 1;
        flex-basis: 200;
        flex-wrap: wrap;
        width:200px;

    }
    .counter-box::before{
        height: 250px;
        position: absolute;
        top: 60px;
        padding: 0;
    }
    .counter-box h2{
        margin-top: 30px;
        font-size: 80px;
    }  
    .contact-footer{
        position: relative;
        left: -15px;
    } 
    .footer-container{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        height: fit-content;
        
    }
    .footer-box {
        flex-grow: 1;
        flex-basis: 200;
        height: auto;
        width: 200px;
    }
    .icons{
        display: flex;
        flex-wrap: wrap;
    }

    .contact-section{
        padding: 40px;
    
    }
    .contact-box{
        flex-wrap: wrap;
    }
    .text-icons{
        position: relative;
        left: 0px;
        width: 100%;
    }
    .text-icons a{
        flex-direction: row;
    }
    .radio-row{
        /* white-space: wrap; */
        flex-wrap: wrap;
    }

    .expertise-viewpoint{
        overflow: hidden;
        width: calc(2 * 300px + 40px);
    }
    .flip-card{
        width: 305px;
    }
    .expertise-cards {
    flex-direction: column;
    }
     .template-box{
        flex-wrap: wrap;
    }

    .scroll-btn{
        width: 0;
        height: 0;
    }
    .scroll-btn i{
        position: fixed;
        right: 0px;
        top: 380px;
        bottom: 0px;
    }
    /* get a quote */
    
    .package-wrapper{
        flex-wrap: wrap;
    }
    .projectImage{
        flex-wrap: wrap;
        height: fit-content;
        width: fit-content;
    }
    .projectImage img{
        width: calc((100% - 10px) / 2); 
    }
     .project-wrapper{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
    }
    .project-card{
        width: 40%;
    }
    .counter-heading{
    height: 40vh;
}

}

@media (min-width: 901px) and (max-width: 1400px){
    .section-container{
        max-width: 100%;
        width: 100%;
    }
    nav{
        width: fit-content;
        position: fixed;
        top: 0px;
        left: 252px;
    }
    nav a{
        font-size: 12px;
    }
    .about-section{
         height: fit-content;
         
    }
    .about-content{
       width: 100%;
       height: 100vh;
       flex-wrap: wrap;

    }
    .aboutText{
        padding: 0px;
        width: 50%;
    }
    .about-image {
        
        height: 400px;
    }
    .about-image img{
        width: 100%;
        height: 100%;
    }
    .about-content, .counter-container, .footer-container{
        flex-wrap: wrap;
        justify-content: space-between;
        display: flex;
        height: fit-content;
    }
    .counter-box{
        position: relative;
        margin-top: 30px;
    }
    .counter-box::before{
       /* position: absolute;
       top: 40px; */
       height: 280px;
    }
     .template-box{
        flex-wrap: wrap;
    }
    /* scroll */ 
    .scroll-btn{
        width: 0;
        height: 0;
    }
    .scroll-btn i{
        position: fixed;
        right: 0px;
        top: 380px;
        bottom: 0px;
    }
    .footer-container{
        height:500px;
    }
      /* get a quote */
    
    .package-wrapper{
        flex-wrap: wrap;
    }
     .projectImage{
        flex-wrap: wrap;
        height: fit-content;
    }
     .project-card{
        flex-wrap: wrap;
        width: 47%;
        flex-direction: row;
        gap: 0px;
    }
   
}

@media (min-width:1400px) and (max-width: 3000px){
    .section-container{
        width: 100%;
        max-width: 5000px;
    }
    header{
        height: 200px;
    }
    header img{
        width: 400px;
        height: 400px;
    }
     nav{
        /* width: 80rem;
        padding: 1rem;
        
         */
        flex-wrap: wrap;
        position: fixed;
        right: 0;
        z-index: 22;
    }
    nav a{
        font-size: 2rem;
        padding: 60px 30px;
        cursor: pointer;
    }
    nav a:hover{
        color: darkgoldenrod;
        transition: all 0.8s ease;
    } */
    .hero-content{
        width: 200%;
        position: relative;
        margin: 0;
    }
    .hero-content h1{
        font-size: 5rem;
        width: 70vw;
    }
    .hero-content::before{
        position: absolute;
        top: -560px;
        height: 200vh;
        width: 80vw;
        left: -100px;
    }
    .hero-content p{
        font-size: 3rem;
        width: 70vw;
    }
    .btn{
        font-size: 2rem;
    }
    .about-section{
        height: fit-content;
        flex-wrap: wrap;  
    }
    .about-content{
        height: auto;
        max-width: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    .aboutText p{
        font-size: 2rem;
        width: 1000px;

    }
    .about-image{
       width: 100%;
       position: relative;
       z-index: 2;
    }
    .about-image img{
        width: 100%;
        height: 800px;
        z-index: 0;
    }
    .about-section h1{
        font-size: 4rem;
    }
    .counter-box{
        width: fit-content;
        height: fit-content;
        
    }
    .counter-box h2{
        font-size: 8rem;
    }
    .counter-box h3{
        font-size: 2rem;
    }
    .counter-box p{
        font-size: 1.5rem;
    }
    .counter-box::before{
        height: 400px;
        width: 7px;
    }
    .footer-container{
        height: fit-content;
    }
     .footer-box{
        width: 300px;
        height: 500px;
     }
    .footer-box h3{
        font-size: 2rem;
    }
    .footer-box h4{
        font-size: 22px;
    }
    .footer-box h2{
        font-size: 30px;
    }
    .footer-box p{
        font-size: 25px;
    }
    .icons i{
        font-size: 40px;
    }
    .footer-links a{
        font-size: 30px;
    }
    .contact-content{
     max-width: 1500px;
     margin-top: 30px;
     margin-bottom: 40px;
    
    }
    .contact-text h1{
        font-size: 3vw;
        width: 100%;
    }
    .text-box h5, .text-icons h5{
        font-size: 2vw;
    }
    .text-box p{
        font-size: 1.2vw;
    }
    .text-icons{
        position: relative;
        left: -190px;
    }
    .text-icons a{
        font-size: 1.3vw;
        margin: 20px;
        padding: 15px;
    }
    .contact-container{
        max-width: 1700px;
        padding: 10px;
        height: fit-content;
        padding: 20px;
    }
    .contact-container h1{
        font-size: 3vw;
    }
    .subtitle{
        font-size: 1.3vw;
    }
    .form-box{
        display: flex;
        width: 100%;
    }
    .contact-form input, select,textarea{
        width: 100%;
        padding: 25px 30px;
        font-size: 1.3vw;
    }
    .radio-row label, input{
        font-size: 1.2vw;
        padding: 20px;
    }
    .contact-form select option{
        width: 100px;
    }
    .contact-btn{
        font-size: 1.2vw;
        max-width: 600px;
    }
    .carousel{
        margin: 40px 300px;
        width: 80%;
        padding: 20px 10%;
        overflow-x: auto;
        
       
    }
    .group{
        width: calc(6 * 300px + 40px);
        animation: spin 5s linear infinite;
        margin-top: 80px;
    }
    .card{
        height: 17em;
        width: max-content;
    }
    .card img{
        width: 230px;
    }
    @keyframes spin{
        0% {
            translate: 0;
        }
        100%{
            translate: -30%;
        }
    }

   .template-container{
        width: 100%;
        padding: 20px 7%;
    }
    .expertise-container{
        margin: 0;
        padding: 0;
    }
    .template-box{
        width: 100%;
    }
     .scroll-btn{
        width: 0;
        height: 0;
    }
    .scroll-btn i{
        position: fixed;
        right: 0px;
        top: 900px;
        bottom: 0px;
    }
    .footer-container{
        height: 700px;
    }
    .testimonials-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
     .projectImage{
        flex-wrap: wrap;
        height: fit-content;
    }
    
}