*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
} 
/* 
.header-class{
    width: 100%;
    height: 10px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkgoldenrod;
}
.sub-class{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
}
.sub-class i{
    color: white;
    font-size: 30px;
} */

.section-container{
    width: 100%;
    max-width: 100%;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
    margin: 0px;
   
}
header img{
    width: 200px;
    height: 200px;
    margin-top: 150px;
    margin-left: 20px;
    z-index: 4;
    display: none;
}
header img.showImage{
    transform: scaleX(0.9);
    transition: all 0.1s ease-in;  
}
nav{
    background-color: #fff;
    width: fit-content;
    /* border: 2px solid #000; */
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 8px;
    margin-top: 30px;
    z-index: 3;
    position: fixed;
    left: 700px;
}
nav.shownav{
    position: relative;
    left: 0px;
}

nav a{
    padding: 14px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}
nav a:hover{
    color: darkgoldenrod;
    transition: all 0.8s ease;
}
nav button{
    background-color: darkgoldenrod;
    color: white;
    padding: 15px 0px;
    border-radius: 50px;
    border: 2px solid darkgoldenrod;
    
}
nav button a:hover{
    background-color: #fff;
    color: darkgoldenrod;
    padding: 15px;
    border-radius: 50px;

}
/* hero */
.hero{
    position: relative;
    height: 130vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: grayscale(100%) brightness(0.2);
    /* overflow: hidden; */
    top: -100px;
    width: 100%;
    overflow: hidden;
}
.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../images/heroImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 1.8s ease;
    z-index: -1;
    overflow-x: hidden;
    width: 100%;
}
.hero.show-bg::before{
    transform: translateX(0);
    overflow: hidden;
}
.hero-content{
    position: relative;
    left: -90px;
    width: 700px;
    text-align: start; 
    transform: translateX(-150%);
    z-index: -4;
    top: 80px;
}
.hero-content::before{
    content: "";
    position: absolute;
    width: 110%;
    height: 100vh;
    background-color: rgba(236, 233, 233, 0.4);
    top: -380px;
    left: -40px;
    z-index: -2;
}
.hero-content h1{
    font-size: 40px;
    animation: slideText 1s ease;
    min-height: 100px;
}

.hero-content.show-text {
    animation: textMove 1.5s forwards;
}

@keyframes textMove {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero-content p{
    font-size: 25px;
    text-align: start;
    
}
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: darkgoldenrod;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.btn:hover{
    background: #FFF;
     color: darkgoldenrod;
     transition: 1.5s ease;

}

/* about */
.about-section{
    padding: 20px 5%;
    border-radius: 10px;
    background-color: #000;
    margin: 20px;
    position: relative;
    top: -120px;
    height: 650px;
}
.about-section h1{
    margin-bottom: 40px;
    position: relative;
    text-align: center;
    color: #fff;
}
/* .about-section h1::after{
    content: " ";
    background-color: darkgoldenrod;
    width: 90px;
    height: 4px;
    position: absolute;
    top: 40px;
    left: 540px;
    border-radius: 5px;
} */
.about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: 400px;
    gap: 100px;
    border-radius: 30px;
    padding: 10px;
    color: #fff;
    flex-wrap: wrap;
    max-width: 1300px;
    width: 100%;
}
.aboutText{
    max-width: 500px;
    flex: 1;
    overflow-wrap: break-word;
    font-size: 18px;
}
.about-image{
    width: 500px;
    flex: 1;
}
.about-image img{
    width: 100%;
    border-radius: 5px;
    height: fit-content;
}

/* counter */
.counter-container{
    display: flex;
    justify-content: space-around;
    padding: 40px 10px;
    background: #f9f9f9;
    height: fit-content;
    margin-top: -130px;
}
.counter-box{
    position: relative;
    width: 300px;
    margin-left: 20px;
}
.counter-box::before{
    content: "";
    background-color: darkgoldenrod;
    width: 5px;
    height: 300px;
    position: absolute;
    left: -20px;
    top: -0px;
}
.counter-box h2{
    font-size: 100px;
    color: #ddd5d5;
    margin-top: -18px;
    text-align: start;
}
.counter-box h3{
    padding: 10px 0;
    margin-top: -20px;
}
.counter-box p{
    color: gray;
}
.footer-container{
    width: 100%;
    background-color: darkgoldenrod;
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
    gap: 60px;
    
}
.footer-box{
    width: 200px;
    height: 300px;
    color: white;
}
.footer-image{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 16px;
   
}
.footer-image img{
    width: 100%;
    background-color: #fff;
    border-radius: 50px;

}
.footer-image h2{
    display: inline;
    font-size: 18px;
}
.footer-box h4{
    font-size: 15px;
    margin-top: 20px;
    
}
.footer-box h3{
    position: relative;
}
.footer-box p{
    font-size: 15px;
    padding: 10px;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;
    margin-left: -20px;
    margin-top: 20px;
}
.icons i{
    color: #fff;
    font-size: 25px;
    transition: transform 0.3s ease, color 0.3s ease;

}
.icons i:hover{
    transform: scale(1.3);
}
.fa-facebook-f:hover{
    color: #006eff;
}
.fa-instagram:hover{
    color:#db0b51;
}
.fa-twitter:hover{
    color: #0ca2ff;
}
.fa-youtube:hover{
    color: red;
}
.fa-linkedin-in:hover{
    color: #005f93;
}
.footer-links a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    position: relative;
}


/* contact page */
.contact-section{
    padding: 80px;
    
}
.contact-content{
     max-width: 800px;
     margin-top: 30px;
     margin-bottom: 40px;
    
}
.contact-text h1{
    font-size: 37px;
    width: 100%;
}
.contact-text h1 span{
    color: darkgoldenrod;
    font-weight: bolder;
}
.contact-box{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-box h5, .text-icons h5{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: darkgoldenrod;
}
.text-icons{
    position: relative;
    left: -45px;
}
.text-icons a{
    font-size: 18px;
    padding: 10px;
    background-color: darkgoldenrod;
    border-radius: 100%;
    margin: 10px;
    color: #fff;
}

.contact-container{
    max-width: 800px;
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(129, 184, 227, 0.15) 0px 2px 6px 2px;
    
}
.contact-container h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
}
.subtitle{
    text-align:center;
    color: #777;
    margin-bottom: 10px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: fit-content;
}
.form-box{
    display: flex;
    width: 100%;
}
.two-cols{
    gap: 20px;
}
.two-cols inputs{
    width: 50%;
}
.contact-form input,select,textarea{
    width: 100%;
    padding: 10px 16px;
    border-bottom: 12px;
    border: 1px solid #ddd;
    font-size: 16px;
    outline: none;
}
textarea{
    min-height: 140px;
    resize: none;
}
.radio-row{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 50px;
   white-space: nowrap;
}
.radio-row label{
    display: flex;
    font-size: 15px;
    color: #555;
    gap: 6px;
    align-items: center; 
}
.contact-btn{
    align-self: center;
    width: 100%;
    max-width: 400px;
    padding:10px;
    background-color: #c48a4a;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
}
.contact-btn:hover{
    background-color: #b3773a;
}



