*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    
} 


/* 
.header-class{
    width: 100%;
    height: 10px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkgoldenrod;
}
.sub-class{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    
}
.sub-class i{
    color: white;
    font-size: 30px;
} */
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
    margin: 0px;
   
}
header img{
    width: 200px;
    height: 200px;
    margin-top: 150px;
    margin-left: 20px;
    z-index: 4;
    display: none;
}
header img.showImage{
    transform: scaleX(0.9);
    transition: all 0.1s ease-in;  
}
nav{
    background-color: #fff;
    width: fit-content;
    /* border: 2px solid #000; */
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 8px;
    margin-top: 30px;
    z-index: 3;
    position: fixed;
    left: 700px;
}
nav.shownav{
    position: relative;
    left: 0px;
}

nav a{
    padding: 14px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    color: #000;
    font-weight: bold;
}
nav a:hover{
    color: darkgoldenrod;
    transition: all 0.8s ease;
}
nav button{
    background-color: darkgoldenrod;
    color: white;
    padding: 15px 0px;
    border-radius: 50px;
    border: 2px solid darkgoldenrod;
    
}
nav button a:hover{
    background-color: #fff;
    color: darkgoldenrod;
    padding: 15px;
    border-radius: 50px;

}
/* hero */
.hero{
    position: relative;
    height: 130vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    background: grayscale(100%) brightness(0.2);
    /* overflow: hidden; */
    top: -100px;
    width: 100%;
    overflow: hidden;
}
.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../images/heroImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 1.8s ease;
    z-index: -1;
    overflow-x: hidden;
    width: 100%;
}
.hero.show-bg::before{
    transform: translateX(0);
    overflow: hidden;
}
.hero-content{
    position: relative;
    left: -90px;
    width: 700px;
    text-align: start; 
    transform: translateX(-150%);
    z-index: -4;
    top: 80px;
}
.hero-content::before{
    content: "";
    position: absolute;
    width: 110%;
    height: 100vh;
    background-color: rgba(236, 233, 233, 0.4);
    top: -380px;
    left: -40px;
    z-index: -2;
}
.hero-content h1{
    font-size: 40px;
    animation: slideText 1s ease;
    min-height: 100px;
}

.hero-content.show-text {
    animation: textMove 1.5s forwards;
}

@keyframes textMove {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero-content p{
    font-size: 25px;
    text-align: start;
    
}
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: darkgoldenrod;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.btn:hover{
    background: #FFF;
     color: darkgoldenrod;
     transition: 1.5s ease;

}

/* about */
.about-section{
    padding: 20px 5%;
    border-radius: 10px;
    background-color: #000;
    margin: 20px;
    position: relative;
    top: -120px;
    height: 650px;
}
.about-section h1{
    margin-bottom: 40px;
    position: relative;
    text-align: center;
    color: #fff;
}
.about-section h1::after{
    content: " ";
    background-color: darkgoldenrod;
    width: 90px;
    height: 4px;
    position: absolute;
    top: 40px;
    left: 540px;
    border-radius: 5px;
}
.about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: 400px;
    gap: 100px;
    border-radius: 30px;
    padding: 10px;
    color: #fff;
    flex-wrap: wrap;
    max-width: 1300px;
    width: 100%;

   
}
.aboutText{
    max-width: 500px;
    flex: 1;
    overflow-wrap: break-word;
    font-size: 18px;
}
.about-image{
    width: 500px;
    flex: 1;
}
.about-image img{
    width: 100%;
    border-radius: 5px;
    height: fit-content;
}

/* counter */
.counter-container{
    display: flex;
    justify-content: space-around;
    padding: 40px 10px;
    background: #f9f9f9;
    height: fit-content;
}
.counter-box{
    position: relative;
    width: 300px;
    margin-left: 30px;
}
.counter-box::before{
    content: "";
    background-color: darkgoldenrod;
    width: 5px;
    height: 300px;
    position: absolute;
    left: -20px;
    top: -0px;
}
.counter-box h2{
    font-size: 100px;
    color: #ddd5d5;
    margin-top: -18px;
    text-align: start;
}
.counter-box h3{
    padding: 10px 0;
    margin-top: -20px;
}
.counter-box p{
    color: gray;
}