<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}">
</head>
<body>

    <h1>Engineer Dashboard</h1>
    <p>Welcome! You are logged in.</p>

<a href="http://127.0.0.1:5500/index.html">Logout</a>
    
</body>
</html>

